MEMORY {
    {% for name, m in mem.items() %}
        {{ name }} ({{ 'rx' if name == 'flash' else 'rwx' }}) : org = {{ m.origin | hex }}, len = {{ m.size | size_prefix }}
    {% endfor %}
}

INCLUDE "arm_flash_ram.ld"
