#pragma once

{% for header in headers %}#include "{{ header }}"{% endfor %}

{% for instance in instances %}
constexpr {{ instance.type }} {{ instance.name }}{
    {% for arg in instance.args %}
        {{ arg | hex }},
    {% endfor %}
};
{% endfor %}
