#include "interrupt.h"

void entry();
extern int _ram_end;

[[gnu::section(".vectors")]]
interrupt::vector_t vectors[] = {
	(interrupt::vector_t)&_ram_end,
	entry,

    {% for i in range(2, 16) %}
        {% if i in interrupts.exception %}
            interrupt::handler<interrupt::exception::{{ interrupts.exception[i] }}>,
        {% else %}
            0,
        {% endif %}
    {% endfor %}

    {% for i in range(interrupts.irq | max + 1 if interrupts.irq else 0) %}
        {% if i in interrupts.irq %}
            interrupt::handler<interrupt::irq::{{ interrupts.irq[i] }}>,
        {% else %}
            0,
        {% endif %}
    {% endfor %}
};
